<!DOCTYPE html>
<html>
<head>
    <title>Compatible Types</title>
</head>
<body>
    <h1>Compatible Types</h1>
    <a href="{% url 'compatibletype_new' %}">Add new compatible type</a>
    <ul>
    {% for compatibletype in compatibletypes %}
        <li>
            <a href="{% url 'compatibletype_detail' pk=compatibletype.pk %}">{{ compatibletype.animal_type.name }} Compatible with {{ compatibletype.compatible_type.name }}</a>
            <a href="{% url 'compatibletype_edit' pk=compatibletype.pk %}">Edit</a>
            <form action="{% url 'compatibletype_delete' pk=compatibletype.pk %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </li>
    {% endfor %}
    </ul>
    <a href="{% url 'home' %}">Back to home</a>
</body>
</html>
